@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --bg-nav: #fff9e8;
    --bg-body: #fffdf7;
    --link-color: #FFA69E;
    --link-color-hover: #dd766d;
    --color-tittle: #dd766d;
}

body{
    font-family: 'Quicksand', sans-serif !important;
}

h1, h2{
    color: var(--color-tittle);
}

.toggle-menu{
    color: var(--link-color-hover);
    font-size: 1.75rem;   
}

.bg-nav{
    background: var(--bg-nav);
}

.bg-body{
    background: var(--bg-body);
}

.social-aside{
    position: absolute;
    background: #fff9e8;
    top: 1.5rem;
    right: 38%;
    font-size: 1.5rem;
    
}

.social-aside ul{
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

.social-aside ul li{
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
}

.social-aside ul li a{
    color: var(--link-color-hover);
    transition: .3s ease-in-out;
}

.social-aside ul li a:hover{
    color: var(--link-color);
}

.nav-link{
    color: var(--link-color) !important;
}

.nav-link:hover{
    color: var(--link-color-hover) !important;
}

.sacola{
    position: absolute;
    margin-left: 2rem;
    padding-right: 1rem;
    right: 5rem;
    top: 1.5rem;
}

.sacola i{
    font-size: 1.8rem;
    color: var(--link-color);
    position: relative;
}

.sacola i:hover{
    color: var(--link-color-hover);
}

.num-produto-sacola{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #000;
    text-align: center;
    color: #fff;
    margin-top: -40px;
    margin-left: 15px;
}

.slide {
    margin:0px !important;
    padding: 0px !important;
}

.box-product{
    width: 350px;
    background: #fff;
    text-align: center;
    position: relative;
}

.box-product-inner{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    transition: .3s ease-in-out;
}

.botao{
    visibility: hidden;
    opacity: 0;
    width: 200px;
    position: relative;
    bottom: -100%;
    font-size: .9em;
    transition: .3s ease-in-out !important;
}

.box-product-inner:hover{
    background: rgba(255, 249, 232, .5);
}

.box-product-inner:hover .botao{
    opacity: 1;
    bottom: -50%;
    visibility: visible;
}

.b-shadow{
    box-shadow: 0 0.125rem 0.25rem rgba(221, 118, 109, 0.45) !important;
}

.btn-pink{
    color: #fff !important;
    background-color: var(--link-color) !important;
    border-color: var(--link-color) !important;
}

.btn-pink:hover{
    color: #fff !important;
    background-color: var(--link-color-hover) !important;
    border-color: var(--link-color-hover) !important;
}

@media only screen and (min-width: 768px) {

    .sacola{
        position: relative;
        right: 0;
        top: 0;
    }

    .social-aside{
        position: fixed;
        background: #fff9e8;
        top: 10rem;
        right: 0;
        z-index: 10;
        font-size: 1.5rem;
        
    }

    .social-aside ul{
        list-style-type: none !important;
        margin: 0;
        padding: 0;
    }

    .social-aside ul li{
        width: 40px;
        height: 40px;
        text-align: center;
        display: list-item;
        border-bottom: 2px solid var(--link-color-hover);
    }
    
}