@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{
    --bg-nav: #fff9e8;
    --bg-footer: #fffdf7;
    --link-color: #FFA69E;
    --link-color-hover: #dd766d;
    --color-tittle: #dd766d;
}

body{
    font-family: 'Quicksand', sans-serif !important;
}

h1, h2{
    color: var(--color-tittle);
}

.toggle-menu{
    color: var(--link-color-hover);
    font-size: 1.75rem;   
}

.bg-nav{
    background: var(--bg-nav);
}

.bg-body{
    background: var(--bg-body);
}

.social-aside{
    position: absolute;
    background: #fff9e8;
    top: 1.5rem;
    right: 38%;
    
}

.social-aside ul{
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}

.social-aside ul li{
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
}

.social-aside ul li a{
    color: var(--link-color-hover);
    transition: .3s ease-in-out;
}

.social-aside ul li a:hover{
    color: var(--link-color);
}

.nav-link{
    color: var(--link-color) !important;
}

.nav-link:hover{
    color: var(--link-color-hover) !important;
}

.sacola{
    position: absolute;
    margin-left: 2rem;
    padding-right: 1rem;
    right: 5rem;
    top: 1.5rem;
}

.sacola i{
    font-size: 1.2rem;
    color: var(--link-color);
    position: relative;
}

.sacola i:hover{
    color: var(--link-color-hover);
}

.num-produto-sacola{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #000;
    text-align: center;
    color: #fff;
    margin-top: -40px;
    margin-left: 15px;
}

.num-produto-sacola p{
    font-size: .80rem;
}

.slide {
    margin:0px !important;
    padding: 0px !important;
}

.box-product{
    width: 350px;
    background: #fff;
    text-align: center;
    position: relative;
}

.box-product-inner{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    transition: .3s ease-in-out;
}

.botao{
    visibility: hidden;
    opacity: 0;
    width: 60%;
    position: relative;
    bottom: -100%;
    font-size: .8em !important;
    transition: .3s ease-in-out !important;
}

.box-product-inner:hover{
    background: rgba(255, 249, 232, .5);
}

.box-product-inner:hover .botao{
    opacity: 1;
    bottom: -50%;
    visibility: visible;
}

.b-shadow{
    box-shadow: 0 0.125rem 0.25rem rgba(221, 118, 109, 0.45) !important;
}

.btn-pink{
    color: #fff !important;
    background-color: var(--link-color) !important;
    border-color: var(--link-color) !important;
}

.btn-pink:hover{
    color: #fff !important;
    background-color: var(--link-color-hover) !important;
    border-color: var(--link-color-hover) !important;
}

.m-img{
    margin-top: .65rem;
}


.box-grid{
    width: 100%;
    text-align: center;
    position: relative;
}

.box-grid-inner{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    transition: .3s ease-in-out;
    background: rgba(229, 136, 128, 0.281);
}

.title-grid{
    color: #ffffff;
    visibility: visible;
    opacity: 1;
    width: 100px;
    font-size: .9rem;
    font-weight: 900;
    position: relative;
    top: 40%;
    transition: .3s ease-in-out !important;
}

.box-grid-inner:hover .title-grid{
    transform: scale(1.2);
}

footer{
    background: var(--bg-footer);
}

.link-footer{
    color: #747474 !important;
    margin-bottom: -.6rem !important;
}

@media only screen and (min-width: 768px) {

    .sacola{
        position: relative;
        right: 0;
        top: 0;
    }

    .social-aside{
        position: fixed;
        background: #fff9e8;
        top: 12rem;
        right: 0;
        z-index: 10;
        font-size: 1.5rem;
        
    }

    .social-aside ul{
        list-style-type: none !important;
        margin: 0;
        padding: 0;
    }

    .social-aside ul li{
        width: 40px;
        height: 40px;
        text-align: center;
        display: list-item;
        border-bottom: 2px solid var(--link-color-hover);
    }

    .botao{
        visibility: hidden;
        opacity: 0;
        width: 80%;
        position: relative;
        bottom: -100%;
        font-size: .9em;
        transition: .3s ease-in-out !important;
    }
    
    .m-img{
        margin-top: 1.65rem;
    }

    .box-grid-inner{
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        transition: .3s ease-in-out;
        background: transparent;
    }

    .title-grid{
        opacity: 0;
        width: 150px;
        font-size: 2rem;
        font-weight: 400;
        position: relative;
        top: 80%;
        left: 30%;
        transition: .3s ease-in-out !important;

    }

    .box-grid-inner:hover{
        background: rgba(229, 137, 128, 0.4);
    }
    
    .box-grid-inner:hover .title-grid{
        opacity: 1;
        visibility: visible;
        top: 40%;
        transform: rotate(360deg);
    }
}

/* colecao.html */

.btn-filter, .closebtn, .btn-filter{
    visibility: visible;
}

.closebtn{
    visibility: visible;
    font-size: 2rem;
    float: right;
    margin-top: -5px;
    margin-right: 5px;
    color: var(--link-color);
}

.closebtn:hover{
    color: var(--link-color-hover);
}

.filter{
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    background: #ffffff;
}

.filter h4{
    text-align: center;
}

@media only screen and (min-width: 768px) {

    .btn-filter, .closebtn, .btn-filter{
        visibility: hidden;
    }

    .filter{
        width: 0;
        position: relative;
        background: transparent;
        width: 230px;
        height: auto;
        top: 0;
        left: 0;
        margin-left: 1rem;
    }

    .filter h4{
        text-align: left;
    }

    .btn-filter{
        width: 800px !important;
    }
}

.filter-option{
    cursor: pointer;
}

.form-check{
    margin-top: .5rem !important;
}

.form-check-input{
    border: 0 !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.radio-color {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: block;
    position: relative;
    cursor: pointer;
    border: 1px solid #c9c9c9;
}